# @Author: JogFeelingVI
# @Date:   2026-02-02 22:28:39
# @Last Modified by:   JogFeelingVI
# @Last Modified time: 2026-02-03 14:07:17
name: APK Build

on:
  # Runs on push to any of the below branches
  push:
    branches:
      - main

  # Runs on pull request events that target one of the below branches
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab of the repository
  workflow_dispatch:

env:
  # Python version to use
  PYTHON_VERSION: 3.12

  # flet-cli version to install for `flet build`
  FLET_CLI_VERSION: 0.80.4
  FLUTTER_VERSION: 3.38.9

  # Ensures Python uses UTF-8 encoding by default
  PYTHONUTF8: 1

  # Disables rich text formatting in Flet CLI output
  FLET_CLI_NO_RICH_OUTPUT: 1

  # Disables progress bars when using UV
  UV_NO_PROGRESS: 1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Setup Flutter ${{ env.FLUTTER_VERSION }}
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}
        channel: 'stable'

    - name: update ubuntu
      run: |
        sudo apt-get update
        # sudo apt-get install zenity

    # 【新增】设置 Java 环境，签名 APK 必须
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install flet-cli ${{ env.FLET_CLI_VERSION }}
      run: |
        python -m pip install --upgrade pip
        pip install flet==$FLET_CLI_VERSION
        pip install flet-cli==$FLET_CLI_VERSION

    # 【修改】使用签名参数进行编译
    - name: Flet Build APK    
      run: |
        flet build apk --verbose \
          --clear-cache

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v6.0.0 # https://github.com/marketplace/actions/upload-a-build-artifact
      with:
        name: apk-build-artifact  # the name of the artifact
        path: build/apk  # location of Flet build output
        if-no-files-found: error  # Fail the action with an error message if no files are found
        overwrite: false  # If true, an artifact with a matching name will be deleted before a new one is uploaded. If false, the action will fail if an artifact for the given name already exists. Does not fail if the artifact does not exist.
